{% extends "base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}
<div class="about-div">
  <div class="pt-5 pb-4">
    <blockquote class="offset-1 col-10 px-0">
      <p class="mb-0">There was a reason I starred all those repos, dammit, and it's about time I had another look
        at them!
      </p>
      <footer class="blockquote-footer">lots of github users</footer>
      <br/>
      <p>This contraption was made by Rachel Sharp, because she realised that masonry.js exists and wanted
      to celebrate never having to faff with .card-columns again. The code is available on GitHub.</p>

      <hr/>

      <p>You might also be interested in:</p>
      <ul>
        <li>my Spotify integration which presents your music collection just as beautifully</li>
        <li>my blog, where I write with the prose of a programmer</li>
        <li>supporting me with a star, a follow, a kind word or some patronage</li>
      </ul>
    </blockquote>
  </div>
</div>

{% endblock %}
