{% extends "base.html" %}
{% load socialaccount static image_proxy el_pagination_tags %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/starboard.css' %}"/>
{% endblock %}

{% block content %}
    {% lazy_paginate 30 object_list %}
    <div id="repo_grid" class="repo-grid py-5">
      {% include "pages/starboard_page.html" %}
    <div id="moreCard" class="card repo-grid-item">
      <div class="card-body">
        <h5>{% show_more "Load More" %}</h5>
      </div>
    </div>
    <p class="endless_loading"></p>
    </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="{% static "js/el_pagination.js" %}"></script>
  <script>
    let grid_albums = document.querySelector('#repo_grid');
    let msnry = new Masonry(grid_albums, {
      // options
      itemSelector: '.repo-grid-item',
      columnWidth: '.repo-grid-item',
      fitWidth:true,
      gutter:20,
      transitionDuration: 0
    });
    imagesLoaded( grid_albums ).on( 'progress', function() {
      // layout Masonry after each image loads
      msnry.layout();
    });
    $.endlessPaginate({
      paginateOnScroll: true, paginateOnScrollMargin: 400,
      contentSelector: '.repo-grid',
      onClick: function() {
        let moreCard = document.querySelector('#moreCard');
        moreCard.setAttribute("hidden", "true");
      },
      onCompleted: function(context, fragment) {
          msnry.reloadItems();
          msnry.layout();
          imagesLoaded( grid_albums ).on( 'progress', function() {
            msnry.layout();
          });
      }
    });
  </script>
{% endblock %}
