{% load static i18n %}<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}board{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://starboard.rachsharp.co.uk">
    <meta property="og:title" content="Starboard">
    <meta property="og:image" content="https://starboard.rachsharp.co.uk{%  static 'images/top_stars_example.jpg' %}">
    <meta property="og:description" content="Make your GitHub Stars shine!">
    <meta property="og:site_name" content="Starboard">
    <meta property="og:locale" content="en_US">

    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="675">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@rachoctothorpe">

    <link rel="icon" href="{% static 'images/favicons/star-solid.ico' %}?v=2">

    {% block css %}
    
    <!-- Latest compiled and minified Bootstrap 4.1.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Your stuff: Third-party CSS libraries go here -->
    
    <!-- This file stores project-specific CSS -->
    
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endblock %}

  </head>

  <body>
    <div class="wrapper">
      <div class="parallax mb-1">
        <nav class="navbar navbar-expand-md fixed-top mb-5 navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-star"></i>board</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item pl-1 {% if request.resolver_match.url_name == "top" %}active{% endif %}">
                <a class="nav-link" href="{% url 'top' %}"><i class="fa fa-trophy"></i> Top Stars</a>
              </li>
              <li class="nav-item pl-1 {% if request.resolver_match.url_name == "me" %}active{% endif %}">
                <a class="nav-link" href="{% url 'me' %}"><i class="fa fa-user"></i> Your Stars</a>
              </li>
              <li class="nav-item pl-1 {% if request.resolver_match.url_name == "about" %}active{% endif %}">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>

      <div class="container-fluid mt-5">

        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}

      </div> <!-- /container -->
    </div>


    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      
      <!-- Required by Bootstrap v4.1.1 -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      

      <!-- place project specific Javascript in this file -->
      
      <script src="{% static 'js/project.js' %}"></script>
      

    {% endblock javascript %}
  </body>
</html>
 
